---
http_interactions:
- request:
    method: get
    uri: https://datagarrison.com/users/300234063581640/300234065673960/download.php?data_desc=MYC&data_end=1573003212&data_launch=1&data_start=946684800&type=2&utc=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 06 Nov 2019 01:20:12 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n\r\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\">\n<html>\n<head>\n\n<script
        language=\"javascript\" src=\"../../../wctp/js/protoplasm.js\">\n</script>
        \n\n<script language=\"javascript\"> // transform() calls can be chained together
        \nProtoplasm.use('datepicker') \n.transform('input.datepicker') \n.transform('.datetimepicker',
        { timePicker: true, timePickerAdjacent: true, use24hrs: true })\n.transform('input.datepicker_es',
        { 'locale': 'es_AR' }); \n</script>\n\n\n<!-- Global site tag (gtag.js) -
        Google Analytics -->\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-55239819-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-55239819-1');\n</script>\n\n<title>\n\n\tDataGarrison
        Satellite Weather Station User Area: \n</title>\n<meta name=\"DataGarrison
        Weather Station $this_page\" content=\"DataGarrison's weather station $this_page
        user page.  Users access live environmental sensor data and reconfigure their
        remote stations here.\">\n<meta http-equiv=\"content-type\" content=\"text/html;charset=UTF-8\">\n\n\n\n\n\n\n\n\n\n\n\n\t<script>\n\t\tvar
        cal_start = '01-01-2000';\n\t\tvar cal_end = '06-11-2019';\n\t</script>\n\n\n<STYLE
        type=\"text/css\">\n\na:link { \n\tcolor: #440000;\n\t}\na:visited { \n\tcolor:
        #440000;\n\t}\na:hover { \n\tcolor: #BB0000;\n\n\ttext-decoration: none;\n\t}\na:active
        { \n\tcolor: #333333;\n\t}\n\n\n<!--\nA { text-decoration:none }\n-->\n\n</STYLE>\n\n</head>\n\n<body>\n\n<table
        style=\"border-collapse: collapse;\" width=\"1000\" border=\"0\" align=\"center\"
        cellpadding=\"0\" cellspacing=\"0\">\n<tr><td>\n\t\n<table border=\"0\" width=\"0\"
        align=\"left\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td valign=\"top\"
        align=\"right\"><img valign='top' border=\"0\" src=\"\n\n../../images/user_area.gif\n\n\"></td>\n\n\n<td
        width='780' valign='center' align='left' bgcolor=#bebdbd\n><font size='4'
        face='arial'>\n\t  Unit 300234065673960</font></td>\n</tr>\n\n<tr><td valign=\"top\"
        \n\nbgcolor=#bebdbd\n>\n\n<img src='../../images/under_user_area.gif'>\n\n</td>\n<td
        width='550' valign='center' align='right' align='right' \n\nbgcolor=#bebdbd\n>\n\n<font
        face='arial' size='2'>\n\n\t<a href='https://DataGarrison.com'>DataGarrison</a>&nbsp;&nbsp;
        \t  \n\t \n\t \n\t \t <a href=\"../sites.php\">Remote Sites</a>&nbsp;&nbsp;
        \n\t \t \n\t\n\t <a href=\"index.php\">Control Panel</a></b>&nbsp;&nbsp;\n\n\t\n\t
        <a href=\"plots.php\">Plotting</a></b>&nbsp;&nbsp;\n\t \t <a href=\"../../../login/logout.php?pag_id=300234065673960\">Log
        out</a>&nbsp;&nbsp;\n\t \n\n\t  \n\t  </font>\n\n</td>\n</tr>\n</table>\n\n</tr></td>\n\n\n\n<tr><td>\n\t
        \ \n\t<table  height=\"500\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n
        \   <tr> \n      <td width=\"150\" height=\"500\" valign=\"top\"\n\t  \n\t
        \ \nbgcolor=#bebdbd\n\n>\n\t  <!--<td width=\"140\" height=\"500\" valign=\"top\"
        bgcolor=\"#cac9c9\"> -->\n\t  \n        <table width=\"100%\" height=\"148\"
        border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n\t\t<td>\n\n\r\n<TR><TD><font
        size='2' face='arial'>\r\n\t\r\n&nbsp;<b>Latest Conditions</b><br>&nbsp; 11/05/19
        4:28 pm\t\r\n\t\r\n\t</font></TD></TR>\r\n\r\n\t<TR><TD>&nbsp;</TD></TR>\r\n\r\n<TR><TD><font
        size='2' face='arial'>&nbsp;<b>Pressure</b><br>&nbsp;1026.650 mbar</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>Temperature</b><br>&nbsp;-22.575 <sup>o</sup>C</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>RH</b><br>&nbsp;85.600 %</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>Backup Batteries</b><br>&nbsp;13.194 V</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>Wind</b><br>&nbsp;Speed: 20.347 km/h<br>&nbsp;Gust:
        23.856 km/h<br>&nbsp;Direction: WNW (300<sup>o</sup>)<br>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>\r\n<br>&nbsp;<HR NOSHADE WIDTH='100%' SIZE='1' ALIGN='LEFT'>\r\n\r\n\r\n<P>&nbsp;<b>Station
        Status</b><br>&nbsp;Trans: every 120 min.<br>&nbsp;Logging: every 15.0 min.<P>&nbsp;<b>Next
        Update</b><br>&nbsp;\t<script language=\"JavaScript\">\r\n\r\n\r\n\tvar now
        = new Date();\r\n\tvar j = now.getTime();\r\n\tj = j + 52000;\r\n// document.write(now);\r\n\tvar
        now2 = new Date(j);\r\n\r\n/*\r\n*/\r\nvar hour = now2.getHours();\r\nvar
        am_pm = \"PM\";\r\n\r\nif (hour < 12)\r\n{\r\[...]
- request:
    method: head
    uri: https://datagarrison.com/users/300234063581640/300234065673960/temp/MYC_001.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 06 Nov 2019 01:20:12 GMT
      Etag:
      - W/"1cd2-596a359b85a7b"
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 06 Nov 2019 01:20:12 GMT
- request:
    method: get
    uri: https://datagarrison.com/users/300234063581640/300234065673960/temp/MYC_001.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Range:
      - bytes=1-
  response:
    status:
      code: 206
      message: Partial Content
    headers:
      Last-Modified:
      - Wed, 06 Nov 2019 01:20:12 GMT
      Etag:
      - W/"1cd2-596a359b85a7b"
      Content-Range:
      - bytes 1-7377/7378
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: "OBO Weather Station - SN 9722278\r\nTime zone: UTC -360 minutes\r\nDate_Time\tTemperature_9986750_deg_C\t\r\n08/12/18
        10:58:07\t22.633\r\n02/07/18 10:24:13\t13.858\r\n02/07/18 10:34:13\t6.306\r\n02/07/18
        10:44:13\t3.512\r\n02/07/18 10:54:13\t3.063\r\n02/07/18 11:04:13\t7.242\r\n02/07/18
        11:14:13\t16.368\r\n02/07/18 11:24:13\t19.103\r\n02/07/18 11[...]
