---
http_interactions:
- request:
    method: get
    uri: https://datagarrison.com/users/300234063581640/300234065673960/download.php?data_desc=MYC&data_end=1573753017&data_launch=1&data_start=946684800&type=2&utc=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Nov 2019 17:36:58 GMT
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: "\r\n\r\n<!DOCTYPE HTML PUBLIC \"-//W3C//DTD HTML 4.01 Transitional//EN\">\n<html>\n<head>\n\n<script
        language=\"javascript\" src=\"../../../wctp/js/protoplasm.js\">\n</script>
        \n\n<script language=\"javascript\"> // transform() calls can be chained together
        \nProtoplasm.use('datepicker') \n.transform('input.datepicker') \n.transform('.datetimepicker',
        { timePicker: true, timePickerAdjacent: true, use24hrs: true })\n.transform('input.datepicker_es',
        { 'locale': 'es_AR' }); \n</script>\n\n\n<!-- Global site tag (gtag.js) -
        Google Analytics -->\n<script async src=\"https://www.googletagmanager.com/gtag/js?id=UA-55239819-1\"></script>\n<script>\n
        \ window.dataLayer = window.dataLayer || [];\n  function gtag(){dataLayer.push(arguments);}\n
        \ gtag('js', new Date());\n\n  gtag('config', 'UA-55239819-1');\n</script>\n\n<title>\n\n\tDataGarrison
        Satellite Weather Station User Area: \n</title>\n<meta name=\"DataGarrison
        Weather Station $this_page\" content=\"DataGarrison's weather station $this_page
        user page.  Users access live environmental sensor data and reconfigure their
        remote stations here.\">\n<meta http-equiv=\"content-type\" content=\"text/html;charset=UTF-8\">\n\n\n\n\n\n\n\n\n\n\n\n\t<script>\n\t\tvar
        cal_start = '01-01-2000';\n\t\tvar cal_end = '14-11-2019';\n\t</script>\n\n\n<STYLE
        type=\"text/css\">\n\na:link { \n\tcolor: #440000;\n\t}\na:visited { \n\tcolor:
        #440000;\n\t}\na:hover { \n\tcolor: #BB0000;\n\n\ttext-decoration: none;\n\t}\na:active
        { \n\tcolor: #333333;\n\t}\n\n\n<!--\nA { text-decoration:none }\n-->\n\n</STYLE>\n\n</head>\n\n<body>\n\n<table
        style=\"border-collapse: collapse;\" width=\"1000\" border=\"0\" align=\"center\"
        cellpadding=\"0\" cellspacing=\"0\">\n<tr><td>\n\t\n<table border=\"0\" width=\"0\"
        align=\"left\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td valign=\"top\"
        align=\"right\"><img valign='top' border=\"0\" src=\"\n\n../../images/user_area.gif\n\n\"></td>\n\n\n<td
        width='780' valign='center' align='left' bgcolor=#bebdbd\n><font size='4'
        face='arial'>\n\t  Unit 300234065673960</font></td>\n</tr>\n\n<tr><td valign=\"top\"
        \n\nbgcolor=#bebdbd\n>\n\n<img src='../../images/under_user_area.gif'>\n\n</td>\n<td
        width='550' valign='center' align='right' align='right' \n\nbgcolor=#bebdbd\n>\n\n<font
        face='arial' size='2'>\n\n\t<a href='https://DataGarrison.com'>DataGarrison</a>&nbsp;&nbsp;
        \t  \n\t \n\t \n\t \t <a href=\"../sites.php\">Remote Sites</a>&nbsp;&nbsp;
        \n\t \t \n\t\n\t <a href=\"index.php\">Control Panel</a></b>&nbsp;&nbsp;\n\n\t\n\t
        <a href=\"plots.php\">Plotting</a></b>&nbsp;&nbsp;\n\t \t <a href=\"../../../login/logout.php?pag_id=300234065673960\">Log
        out</a>&nbsp;&nbsp;\n\t \n\n\t  \n\t  </font>\n\n</td>\n</tr>\n</table>\n\n</tr></td>\n\n\n\n<tr><td>\n\t
        \ \n\t<table  height=\"500\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n
        \   <tr> \n      <td width=\"150\" height=\"500\" valign=\"top\"\n\t  \n\t
        \ \nbgcolor=#bebdbd\n\n>\n\t  <!--<td width=\"140\" height=\"500\" valign=\"top\"
        bgcolor=\"#cac9c9\"> -->\n\t  \n        <table width=\"100%\" height=\"148\"
        border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n\t\t<td>\n\n\r\n<TR><TD><font
        size='2' face='arial'>\r\n\t\r\n&nbsp;<b>Latest Conditions</b><br>&nbsp; 11/14/19
        9:58 am\t\r\n\t\r\n\t</font></TD></TR>\r\n\r\n\t<TR><TD>&nbsp;</TD></TR>\r\n\r\n<TR><TD><font
        size='2' face='arial'>&nbsp;<b>Pressure</b><br>&nbsp;1015.350 mbar</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>Temperature</b><br>&nbsp;-19.561 <sup>o</sup>C</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>RH</b><br>&nbsp;90.300 %</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>Backup Batteries</b><br>&nbsp;12.651 V</TD></TR><TR><TD>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>&nbsp;<b>Wind</b><br>&nbsp;Speed: 31.573 km/h<br>&nbsp;Gust:
        39.993 km/h<br>&nbsp;Direction: N (353<sup>o</sup>)<br>&nbsp;</font></TD></TR><TR><TD><font
        size='2' face='arial'>\r\n<br>&nbsp;<HR NOSHADE WIDTH='100%' SIZE='1' ALIGN='LEFT'>\r\n\r\n\r\n<P>&nbsp;<b>Station
        Status</b><br>&nbsp;Trans: every 120 min.<br>&nbsp;Logging: every 15.0 min.<P>&nbsp;<b>Next
        Update</b><br>&nbsp;\t<script language=\"JavaScript\">\r\n\r\n\r\n\tvar now
        = new Date();\r\n\tvar j = now.getTime();\r\n\tj = j + 6086000;\r\n// document.write(now);\r\n\tvar
        now2 = new Date(j);\r\n\r\n/*\r\n*/\r\nvar hour = now2.getHours();\r\nvar
        am_pm = \"PM\";\r\n\r\nif (hour < 12)\r\n{\[...]
- request:
    method: get
    uri: https://datagarrison.com/users/300234063581640/300234065673960/temp/MYC_001.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Range:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Nov 2019 17:36:58 GMT
      Etag:
      - W/"1cd2-59751ed9d21c4"
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: "HOBO Weather Station - SN 9722278\r\nTime zone: UTC -360 minutes\r\nDate_Time\tTemperature_9986750_deg_C\t\r\n08/12/18
        10:58:07\t22.633\r\n02/07/18 10:24:13\t13.858\r\n02/07/18 10:34:13\t6.306\r\n02/07/18
        10:44:13\t3.512\r\n02/07/18 10:54:13\t3.063\r\n02/07/18 11:04:13\t7.242\r\n02/07/18
        07:44:13\t23.112\r\n02/09/18 07:54:13\t23.088\r\n02/09/18 08:04:13\t23.040\r\n02/09/18
        08:14:13\t22.944\r\n02/09/18 08:24:13\t22.872\r\n02/09/18 08:34:13\t22.848\r\n02/09/18
        08:44:13\t23.064\r\n"
  recorded_at: Thu, 14 Nov 2019 17:36:57 GMT
- request:
    method: get
    uri: https://datagarrison.com/users/300234063581640/300234065673960/download.php?data_desc=Test%20Launch&data_end=1573753017&data_launch=2&data_start=946684800&type=2&utc=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Range:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Nov 2019 17:36:58 GMT
      Content-Type:
      - text[...]
- request:
    method: get
    uri: https://datagarrison.com/users/300234063581640/300234065673960/temp/Test_Launch_002.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Range:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Nov 2019 17:36:58 GMT
      Etag:
      - W/"fa9-59751eda75704"
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: "HOBO Weather Station - SN 20301990\r\nTime zone: UTC -360 minutes\r\nDate_Time\tPressure_20290325_mbar\tTemperature_20305795_deg_C\tRH_20305795_%\tBackup
        Batteries_20301990_V\t\r\n08/12/18 10:58:07\t928.950\t21.987\t30.100\t13.954\r\n03/20/18
        14:23:57\t928.950\t22.441\t29.400\t13.954\r\n03/20/18 14:38:57\t928.850\t22.800\t28.900\t13.954\r\n03/20/18
        07:53:57\t931.750\t19.627\t33.500\t14.171\r\n03/21/18 08:08:57\t931.850\t19.698\t32.600\t14.171\r\n03/21/18
        08:23:57\t931.950\t20.031\t33.200\t14.063\r\n03/21/18 08:38:57\t931.850\t20.174\t35.600\t14.063\r\n03/21/18
        08:53:57\t931.950\t20.246\t35.900\t14.063\r\n03/21/18 09:08:57\t932.050\t20.293\t34.800\t14.063\r\n03/21/18
        09:23:57\t932.050\t20.365\t34.300\t14.063\r\n03/21/18 09:38:57\t932.050\t20.388\t34.200\t14.063\r\n03/21/18
        09:53:57\t932.250\t20.365\t34.300\t14.063\r\n"
  recorded_at: Thu, 14 Nov 2019 17:36:57 GMT
[...]
- request:
    method: get
    uri: https://datagarrison.com/users/300234063581640/300234065673960/temp/Test_Launch_004.txt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Range:
      - ''
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 14 Nov 2019 17:37:15 GMT
      Etag:
      - W/"2f7ea5-59751eeab7fcf"
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: "HOBO Weather Station - SN 20301990\r\nTime zone: UTC -360 minutes\r\nDate_Time\tPressure_20290325_mbar\tWind
        Speed_20293262_km/h\tGust Speed_20293262_km/h\tWind Direction_20293262_deg\tTemperature_20305795_deg_C\tRH_20305795_%\tBackup
        Batteries_20301990_V\t\r\n08/12/18 10:58:07\t1010.250\t82.091\t57.534\t129.161\t5.360\t85.200\t13.629\r\n08/12/18
        10:58:10\t1010.150\t24.557\t29.469\t102.486\t5.693\t84.800\t13.629\r\n08/12/18
        11:13:10\t1010.050\t23.856\t30.170\t102.486\t5.872\t81.800\t13.520\r\n08/12/18
        11:28:10\t1009.650\t21.049\t30.872\t89.851\t5.102\t87.400\t13.520\r\n08/12/18
        09:13:10\t1014.850\t33.678\t39.993\t355.192\t-19.012\t90.700\t12.651\r\n"
  recorded_at: Thu, 14 Nov 2019 17:36:57 GMT
recorded_with: VCR 5.0.0
