---
http_interactions:
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things?$filter=name%20eq%20%27Environment%20Canada%20Station%20CXCM%27%20and%20description%20eq%20%27Environment%20Canada%20Weather%20Station%20CAMBRIDGE%20BAY%20GSN%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":0,"value":[]}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: post
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things
    body:
      encoding: UTF-8
      string: '{"name":"Environment Canada Station CXCM","description":"Environment
        Canada Weather Station CAMBRIDGE BAY GSN","properties":{"IATA_ID":"CXCM","Name":"CAMBRIDGE
        BAY GSN","WMO_ID":"71288","MSC_ID":"2400602","Latitude":"69.106583","Longitude":"-105.115652","Elevation(m)":"18.690","Data_Provider":"MSC","Dataset/Network":"CA","AUTO/MAN":"AUTO","Province/Territory":"Nunavut","provider":"Environment
        Canada"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)
    body:
      encoding: UTF-8
      string: '{"@iot.id":2673270,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)","description":"Environment
        Canada Weather Station CAMBRIDGE BAY GSN","name":"Environment Canada Station
        CXCM","properties":{"Data_Provider":"MSC","IATA_ID":"CXCM","Elevation(m)":"18.690","provider":"Environment
        Canada","Province/Territory":"Nunavut","WMO_ID":"71288","Latitude":"69.106583","MSC_ID":"2400602","Longitude":"-105.115652","Dataset/Network":"CA","AUTO/MAN":"AUTO","Name":"CAMBRIDGE
        BAY GSN"},"Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)/Datastreams","HistoricalLocations@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)/HistoricalLocations","Locations@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)/Locations"}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)/Locations?$filter=name%20eq%20%27Environment%20Canada%20Station%20CXCM%27%20and%20description%20eq%20%27Environment%20Canada%20Weather%20Station%20CAMBRIDGE%20BAY%20GSN%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":0,"value":[]}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: post
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)/Locations
    body:
      encoding: UTF-8
      string: '{"name":"Environment Canada Station CXCM","description":"Environment
        Canada Weather Station CAMBRIDGE BAY GSN","encodingType":"application/vnd.geo+json","location":{"type":"Point","coordinates":[0.0,0.0]}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Things(2673270)/Locations(2673272)
    body:
      encoding: UTF-8
      string: '{"@iot.id":2673272,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Locations(2673272)","description":"Environment
        Canada Weather Station CAMBRIDGE BAY GSN","name":"Environment Canada Station
        CXCM","encodingType":"application/vnd.geo+json","location":{"coordinates":[0,0],"type":"Point"},"Things@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Locations(2673272)/Things","HistoricalLocations@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Locations(2673272)/HistoricalLocations"}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20data_avail%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20data_avail%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671134,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671134)","description":"Environment
        Canada Station CXCM data_avail Sensor","name":"Station CXCM data_avail Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671134)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20max_batry_volt_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20max_batry_volt_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671135,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671135)","description":"Environment
        Canada Station CXCM max_batry_volt_pst1hr Sensor","name":"Station CXCM max_batry_volt_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671135)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20min_batry_volt_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20min_batry_volt_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671136,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671136)","description":"Environment
        Canada Station CXCM min_batry_volt_pst1hr Sensor","name":"Station CXCM min_batry_volt_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671136)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20hdr_fwd_pwr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20hdr_fwd_pwr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671137,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671137)","description":"Environment
        Canada Station CXCM hdr_fwd_pwr Sensor","name":"Station CXCM hdr_fwd_pwr Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671137)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:27 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20hdr_refltd_pwr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20hdr_refltd_pwr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671138,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671138)","description":"Environment
        Canada Station CXCM hdr_refltd_pwr Sensor","name":"Station CXCM hdr_refltd_pwr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671138)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20hdr_suply_volt%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20hdr_suply_volt%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671139,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671139)","description":"Environment
        Canada Station CXCM hdr_suply_volt Sensor","name":"Station CXCM hdr_suply_volt
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671139)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20hdr_oscil_drft%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20hdr_oscil_drft%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671140,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671140)","description":"Environment
        Canada Station CXCM hdr_oscil_drft Sensor","name":"Station CXCM hdr_oscil_drft
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671140)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20logr_panl_temp%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20logr_panl_temp%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671141,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671141)","description":"Environment
        Canada Station CXCM logr_panl_temp Sensor","name":"Station CXCM logr_panl_temp
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671141)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20air_temp%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20air_temp%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671142,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671142)","description":"Environment
        Canada Station CXCM air_temp Sensor","name":"Station CXCM air_temp Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671142)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20rel_hum%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20rel_hum%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671143,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671143)","description":"Environment
        Canada Station CXCM rel_hum Sensor","name":"Station CXCM rel_hum Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671143)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20avg_air_temp_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20avg_air_temp_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671144,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671144)","description":"Environment
        Canada Station CXCM avg_air_temp_pst1hr Sensor","name":"Station CXCM avg_air_temp_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671144)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20max_air_temp_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20max_air_temp_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671145,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671145)","description":"Environment
        Canada Station CXCM max_air_temp_pst1hr Sensor","name":"Station CXCM max_air_temp_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671145)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:28 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20max_rel_hum_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20max_rel_hum_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671146,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671146)","description":"Environment
        Canada Station CXCM max_rel_hum_pst1hr Sensor","name":"Station CXCM max_rel_hum_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671146)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20min_air_temp_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20min_air_temp_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671147,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671147)","description":"Environment
        Canada Station CXCM min_air_temp_pst1hr Sensor","name":"Station CXCM min_air_temp_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671147)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20min_rel_hum_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20min_rel_hum_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671148,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671148)","description":"Environment
        Canada Station CXCM min_rel_hum_pst1hr Sensor","name":"Station CXCM min_rel_hum_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671148)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20avg_wnd_spd_10m_pst10mts%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20avg_wnd_spd_10m_pst10mts%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671149,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671149)","description":"Environment
        Canada Station CXCM avg_wnd_spd_10m_pst10mts Sensor","name":"Station CXCM
        avg_wnd_spd_10m_pst10mts Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671149)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20avg_wnd_dir_10m_pst10mts%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20avg_wnd_dir_10m_pst10mts%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671150,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671150)","description":"Environment
        Canada Station CXCM avg_wnd_dir_10m_pst10mts Sensor","name":"Station CXCM
        avg_wnd_dir_10m_pst10mts Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671150)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20avg_wnd_spd_10m_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20avg_wnd_spd_10m_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671151,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671151)","description":"Environment
        Canada Station CXCM avg_wnd_spd_10m_pst1hr Sensor","name":"Station CXCM avg_wnd_spd_10m_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671151)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20avg_wnd_dir_10m_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20avg_wnd_dir_10m_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671152,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671152)","description":"Environment
        Canada Station CXCM avg_wnd_dir_10m_pst1hr Sensor","name":"Station CXCM avg_wnd_dir_10m_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671152)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20max_wnd_spd_10m_pst1hr%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20max_wnd_spd_10m_pst1hr%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671153,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671153)","description":"Environment
        Canada Station CXCM max_wnd_spd_10m_pst1hr Sensor","name":"Station CXCM max_wnd_spd_10m_pst1hr
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671153)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20max_wnd_spd_pst1hr_tm%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20max_wnd_spd_pst1hr_tm%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671154,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671154)","description":"Environment
        Canada Station CXCM max_wnd_spd_pst1hr_tm Sensor","name":"Station CXCM max_wnd_spd_pst1hr_tm
        Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671154)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20wnd_dir_10m_pst1hr_max_spd%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20wnd_dir_10m_pst1hr_max_spd%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671155,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671155)","description":"Environment
        Canada Station CXCM wnd_dir_10m_pst1hr_max_spd Sensor","name":"Station CXCM
        wnd_dir_10m_pst1hr_max_spd Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671155)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:29 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20max_wnd_spd_10m_pst10mts%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20max_wnd_spd_10m_pst10mts%20Sensor%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":1,"value":[{"@iot.id":2671156,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671156)","description":"Environment
        Canada Station CXCM max_wnd_spd_10m_pst10mts Sensor","name":"Station CXCM
        max_wnd_spd_10m_pst10mts Sensor","encodingType":"application/pdf","metadata":"/data/msc/metadata/station/surface_weather/metadata_instance-2.0-xml/product-jicc_xml-2.0/20190612002000000/xcm","Datastreams@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors(2671156)/Datastreams"}]}'
  recorded_at: Wed, 26 Jun 2019 00:17:30 GMT
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Sensors?$filter=name%20eq%20%27Station%20CXCM%20wnd_dir_10m_pst10mts_max_spd%20Sensor%27%20and%20description%20eq%20%27Environment%20Canada%20Station%20CXCM%20wnd_dir_10m_pst10mts_max_spd%20Sensor%27
    body:
[...]
