---
http_interactions:
- request:
    method: get
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Datastreams(2673281)/Observations?$filter=phenomenonTime%20eq%20%272019-06-25T20:00:00.000Z%27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"@iot.count":0,"value":[]}'
  recorded_at: Wed, 26 Jun 2019 03:16:20 GMT
- request:
    method: post
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Datastreams(2673281)/Observations
    body:
      encoding: UTF-8
      string: '{"phenomenonTime":"2019-06-25T20:00:00.000Z","result":"100","resultTime":"2019-06-25T20:06:02.188Z"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Datastreams(2673281)/Observations(2673334)
    body:
      encoding: UTF-8
      string: '{"@iot.id":2673334,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Observations(2673334)","phenomenonTime":"2019-06-25T20:00:00.000Z","result":"100","resultTime":"2019-06-25T20:06:02.188Z","Datastream@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Observations(2673334)/Datastream","FeatureOfInterest@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Observations(2673334)/FeatureOfInterest"}'
  recorded_at: Wed, 26 Jun 2019 03:16:20 GMT
[...]
- request:
    method: post
    uri: http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Datastreams(2673333)/Observations
    body:
      encoding: UTF-8
      string: '{"phenomenonTime":"2019-06-25T20:00:00.000Z","result":"340.1","resultTime":"2019-06-25T20:06:02.188Z"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Location:
      - http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Datastreams(2673333)/Observations(2673386)
    body:
      encoding: UTF-8
      string: '{"@iot.id":2673386,"@iot.selfLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Observations(2673386)","phenomenonTime":"2019-06-25T20:00:00.000Z","result":"340.1","resultTime":"2019-06-25T20:06:02.188Z","Datastream@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Observations(2673386)/Datastream","FeatureOfInterest@iot.navigationLink":"http://scratchpad.sensorup.com/OGCSensorThings/v1.0/Observations(2673386)/FeatureOfInterest"}'
  recorded_at: Wed, 26 Jun 2019 03:16:32 GMT
recorded_with: VCR 5.0.0
